:root {
      /* Howest colors */
      --blue: #44C8F5;
      --white: #FEFFFF;
      --pink: #EC008C;
      --lightpink: #F9B2DC;
      --yellow: #FFED00;
      --lighyellow: #fffded;
      --green: #009A93;
      --lightgreen: #EAF5F5;
      --black: #000000;
    }

